# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs / tmp
*.log
*.out
tmp/
temp/
